@{
    ViewData["Title"] = "Página Inicial";
}

<div class="quad"></div>
<div class="quad2"></div>
<div class="quad4">
    <div class="container-fluid">
        <div class="row">
            <div id="cont-prod" class="col-12">
                <figure id="quad4-fig" class="col-6 zoom">
                    <img id="prod-img" src="images/products/wed2.png" width="100%" height="100%" class="figure-img img-fluid" alt="works">
                </figure>
                <div id="quad4-links" class="col-4">
                    <a href="html/wedding.html" id="wd" class="nav-link">Weddings</a>
                    <a href="html/photobooks.html" id="bk" class="nav-link">Photo Books</a>
                    <a href="html/videoclips.html" id="vc" class="nav-link">Video Clips</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carrinho" class="container-fluid w-100 p-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div id="carrinho1" class="carousel-item active">
                <div id="quad3-img1" class="quad3"></div>
                <img class="car-img" src="images/car/logo-roxa.png">
                <img class="car-listra" src="images/car/listra-h.png">
                <h2 class="h-car">Inteligência</h2>
                <p class="car">Gerenciando conscientemente!</p>
            </div>

            <div id="carrinho2" class="carousel-item">
                <div id="quad3-img2" class="quad3">
                    <img class="car-listra" src="images/car/listra-h.png">
                    <img class="car-img" src="images/car/logo-books.png">
                    <h2 class="h-car">Smart City</h2>
                    <p class="car">Uma cidade melhor desenvolvida!</p>
                </div>
            </div>

            <div id="carrinho3" class="carousel-item">
                <div id="quad3-img3" class="quad3"></div>
                <img class="car-img" src="images/car/logo-trofeu.png">
                <img class="car-listra" src="images/car/listra-h.png">
                <h2 class="h-car">Ideias a partir de dados</h2>
                <p class="car">Veja o que os dados querem dizer!</p>
            </div>
        </div>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<main class="container-fluid w-100">
    <div class="row">

        <!-- MUSIC VIDEO -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <figure class="embed-responsive embed-responsive-16by9 rounded">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/YuP9UGtHfPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h5 class="nav-link">Inovação em Tecnologia</h5>
                    <p>Melhorando a tecnologia atual e inovando para conseguir melhores resultados, esse é um de nossos lemas, nós da Milênio Tech estamos aqui para conseguir trazer uma melhoria constante e significativa pra o jeito de se ver os dados, não só isso, lutamos para melhorar nosso presente pra que assim toda a sociedade tenha um futuro incrível! Tecnologia é o nosso presente e o futuro é tecnologia.</p>
                </div>
            </div>
        </div>

        <!-- BOOKS -->
        <div class="container-fluid escuro">
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-12 mt-2 mb-3">
                        s
                        <h5 class="text-light text-center w-100 nav-link">Radartona</h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                        <p class="white">Hackaton que ocorreu no MobiLab+ entre os dias 9 e 11 de Novembro, lá a equipe concorreu na categoria de API e conseguiu chegar a grande final onde está em busca de sair de lá na segunda com o primeiro lugar na competição,</p><p class="white">Nos acabamos criando um datalake a partir de todos os dados fornecidos no evento, dentre eles dados dos radares de São Paulo, Uber, Waze entre outros, assim sendo crucial a criação de Apis pré-definidas e a expansão para a criação de um sistema que conseguisse expandir e achar outras informações apartir dos dados que não seriam tão fáceis de achar assim, normalmente..</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 mb-5">
                        <figure class="books-img">
                            <div class="zoom rounded">
                                <img src="~/images/index/lucas.png" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/anna.jpg" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/marcel.jpg" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/willian.jpg" class="rounded" alt="books">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tournament -->
        <div class="container-fluid news-1"></div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 class="nav-link mt-3 mb-3">Milenio Tech</h5>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p>Inteligência é feita a partir de tentativa e erro, aqui na Milênio nós buscamos por sempre tentar as mais variadas fornas de conseguir melhorar a nossa sociedade como um todo através da tecnologia, nossa meta é ajudar empresas públicas e privadas na busca da melhoria constante de gerenciamento e planejamento, seja com hardwares para geração de dados que antes não eram possíveis, seja para o estudo de dados já feitos para se conseguir informações que antes não eram possíveis de serem enxergadas sem uma melhor forma de agrupamento e estudo dos dados.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p>Quando se trata de inovação e criatividade, ficamos felizes de saber que a cada dia estamos melhorando sempre como empresa e até mesmo como seres humanos, pois entendemos que a melhoria de processos empresariais por meio de entrega de dados simples e informativos pra tomada de decisão pode e vai fazer com que o futuro seja melhor, pois é agindo no presente que teremos um amanhã melhor e superior, tanto para nós empresas (públicas ou privadas), quanto para nós cidadãos desse lindo e maravilhoso país.</p>
                </div>
            </div>
        </div>

    </div>
</main>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<script type="text/javascript" src="~/javascript/jquery-funcoes.js"></script>


