@{
    ViewData["Title"] = "Página Inicial";
}

<div class="quad"></div>
<div class="quad2"></div>
<div class="quad4">
    <div class="container-fluid">
        <div class="row">
            <div id="cont-prod" class="col-12">
                <figure id="quad4-fig" class="col-6 zoom">
                    <img id="prod-img" src="images/products/wed2.png" width="100%" height="100%" class="figure-img img-fluid" alt="works">
                </figure>
                <div id="quad4-links" class="col-4">
                    <a href="html/wedding.html" id="wd" class="nav-link">Weddings</a>
                    <a href="html/photobooks.html" id="bk" class="nav-link">Photo Books</a>
                    <a href="html/videoclips.html" id="vc" class="nav-link">Video Clips</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carrinho" class="container-fluid w-100 p-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div id="carrinho1" class="carousel-item active">
                <div id="quad3-img1" class="quad3"></div>
                <img class="car-img" src="images/car/logo-roxa.png">
                <img class="car-listra" src="images/car/listra-h.png">
                <h2 class="h-car">Inteligência</h2>
                <p class="car">Gerenciando conscientemente!</p>
            </div>

            <div id="carrinho2" class="carousel-item">
                <div id="quad3-img2" class="quad3">
                    <img class="car-listra" src="images/car/listra-h.png">
                    <img class="car-img" src="images/car/logo-books.png">
                    <h2 class="h-car">Smart City</h2>
                    <p class="car">Uma cidade melhor desenvolvida!</p>
                </div>
            </div>

            <div id="carrinho3" class="carousel-item">
                <div id="quad3-img3" class="quad3"></div>
                <img class="car-img" src="images/car/logo-trofeu.png">
                <img class="car-listra" src="images/car/listra-h.png">
                <h2 class="h-car">Ideias a partir de dados</h2>
                <p class="car">Entregamos dados úteis e robustos!</p>
            </div>
        </div>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<main class="container-fluid w-100">
    <div class="row">

        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="zoom rounded">
                        <img src="~/images/index/radar-placa.jpg" class="rounded" alt="radar">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h5 class="nav-link">Inovação em Tecnologia</h5>
                    <p>Melhorando a tecnologia atual e inovando para conseguir melhores resultados, esse é um de nossos lemas, nós da Milênio Tech estamos aqui para conseguir trazer uma melhoria constante e significativa pra o jeito de se ver os dados de radares de São Paulo, não só isso, buscamos por facilitar a vida de todos através desses dados para que assim toda a sociedade tenha um futuro ainda mais incrível! Tecnologia é o nosso presente e o futuro é tecnologia.</p>
                </div>
            </div>
        </div>

        <!-- BOOKS -->
        <div class="container-fluid" style="background-color: rgb(17, 38, 64);">
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-12 mb-5">
                        <h5 class="text-light text-center w-100 nav-link">Radartona</h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                        <p class="white">Hackaton que ocorreu no MobiLab+ entre os dias 9 e 11 de Novembro, lá a equipe concorreu na categoria de API e conseguiu chegar a grande final saindo de lá na segunda com o primeiro lugar na competição,</p><p class="white">Nós acabamos criando um datalake a partir de todos os dados fornecidos no evento, desde dados dos radares de São Paulo, Uber, Waze entre outros, para facilitar a visualização desses dados, criamos uma plataforma na qual você pode criar sua conta e acessar as funções que criamos, tais como a disponibilização de .CSVs baseados no que o usuário quer ver, também criamos diversas APIS Restful.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 mb-5">
                        <figure class="books-img">
                            <div class="zoom rounded">
                                <img src="~/images/index/radartona1.jpg" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/radartona2.jpg" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/radartona3.jpg" class="rounded" alt="books">
                            </div>
                            <div class="zoom rounded">
                                <img src="~/images/index/radartona4.jpg" class="rounded" alt="books">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tournament -->
        <div class="container-fluid news-1"></div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 class="nav-link mt-3 mb-3">Milenio Tech - Radares</h5>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p>É um privilégio e honra ser a empresa escolhida para a liberação dos dados de radares de São Paulo ao público geral, estamos realmente gratos, afinal os dados de radares dessa megametrópole são muito importantes e têm um impacto socio-econômico significativo na vida de todos, é sabendo disso que estamos entregando dados úteis e práticos para todos, lidando com essa grande responsabilidade, criamos uma solução simples e robusta para solucionar a entrega dos dados.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p>Quando se trata de inovação e criatividade, ficamos felizes de saber que a cada dia estamos melhorando sempre como empresa e até mesmo como seres humanos, pois entendemos que a melhoria de processos empresariais por meio de entrega de dados para decisão ágil pode fazer com que o nosso futuro seja melhor, pois é agindo no presente que teremos um amanhã melhor e mais próspero, tanto para nós empresas (públicas ou privadas) quanto para o próprio cidadão.</p>
                </div>
            </div>
        </div>

    </div>
</main>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<script type="text/javascript" src="~/javascript/jquery-funcoes.js"></script>


