
<footer class="container-fluid w-100 escuro">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <img src="~/images/logo-milenio-bus-white.png" class="mr-2" width="110" alt="logo"><br>
                <h4 class="text-light mt-5">Milênio Tech &copy; - 2019.</h4><br>
                <p class="text-light nav-link">Criatividade e Inovação em Tecnologia.</p>
            </div>
        </div>
    </div>
</footer>





